.Order {
  font: inherit;
  padding: 15px 20px;
  background-color: #cf8f23;
  color: white;
  display: block;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.Input {
  margin: 1em 0;
  width: 100%;
}
